<div ng-include="'components/navbar/navbar.html'"></div>

<md-content class="content-wrapper" flex layout-padding>
  <md-chips ng-model="awesomeThings" class="custom-chips" readonly="true" md-on-append="ctrl.newVeg($chip)" layout-margin>
    <md-chip-template>
      <strong>{{$chip.name}}</strong>
    </md-chip-template>
    <button md-chip-remove class="md-primary vegetablechip">
      <md-icon md-icon-set="material-icons">close</md-icon>
    </button>
  </md-chips>
  <form name="form" flex layout-margin>
    <md-content layout="row">

      <md-input-container flex>
        <label>Stock symbol to track.</label>
        <input name="symbol" type="text" md-maxlength="6" ng-model="symbol">
        <div ng-messages="form.symbol.$error">
          <div ng-message="md-maxlength">Invalid stock symbol.</div>
        </div>
      </md-input-container>

      <span><md-button type="submit" class="md-raised md-primary" ng-click="addThing()">Add New</md-button></span>
    </md-content>
  </form>
</md-content>

<footer class="footer">
  <p>Free Code Camp StockJump | <a href="https://twitter.com/d_ting" target="_blank">@d_ting</a>
</footer>
